body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c6def4;
    color: #9f9f9f;
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    margin-top: 10px;
    position: fixed;
    width: 100%;
    padding: 1rem 1%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.background-image {
    background-image: url(form.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav a{
    display: inline-block;
    font-size: 1.2rem;
    color: #1c7cbb;
    margin-left: 1rem;
    font-weight: 900;
    transition: 0.5s ease;
}
nav a:hover{
    color: red;
    transform: scale(1.1);
}
h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: #000000;
    font-weight: 600;
}
p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-top: 1rem;
}
#sertifikat {
    padding: 3rem 5%;
}
.sertifikat-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}
.sertifikat-container :hover{
    transform: scale(1.1);
}
.sertifikat-item {
    background-color: #ffffff95;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sertifikat-item h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #030303;
    font-weight: 600;
}
.sertifikat-item img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 2px solid #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.sertifikat-item img:hover {
    transform: scale(1.05);
}